body {
  background: black;
}
* {
  font-family: "Avenir";
}
.crypto {
  background-color: white;
  border: 2px solid black;
  color: black;
  width: 50%;
  border-radius: 7px;
  padding: 1px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}
.crypto .name {
  font-size: 15px;
  text-indent: 10px;
  float: left;
}
.crypto .price {
  float: right;
  font-size: 15px;
  margin-right: 10px;
}
h1 {
  color: white;
  letter-spacing: 2px;
  margin: 100px auto;
  text-align: center;
}
.table-image {
  width: 25px;
  height: 25px;
  float: left;
  line-height: 150px;
  margin-left: 10px;
  -ms-transform: translate(-100%, -50%);
  transform: translate(0%, 50%);
}
@media (max-width: 770px) {
  .crypto {
    width: 95%;
  }
}
.blue {
  background: #0064c8;
}
.red {
  background: #ff4b4b;
}
.green {
  background: #00c864;
}
.orange {
  background: #ffaf32;
}
.yellow {
  background: #ffe119;
}
.cyan {
  background: #4be6e6;
}
.white {
  color: #ffffff;
}
.black {
  color: #000000;
}
