body {
  background: black;
}
* {
  font-family: "Avenir";
}
.crypto {
  background-color: white;
  border: 2px solid black;
  color: black;
  width: 50%;
  border-radius: 7px;
  padding: 1px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}
.crypto .name {
  font-size: 15px;
  text-indent: 10px;
  float: left;
}
.crypto .price {
  float: right;
  font-size: 15px;
  margin-right: 10px;
}
h1 {
  color: white;
  letter-spacing: 2px;
  margin: 100px auto;
  text-align: center;
}
img {
  width: 25px;
  height: 25px;
  float: left;
  line-height: 150px;
  margin-left: 10px;
  -ms-transform: translate(-100%, -50%);
  transform: translate(0%, 50%);
}
@media (max-width: 770px) {
  .crypto {
    width: 95%;
  }
}
